$urlMatcherFacotry valFromString throwing error in 0.2.17

My app is unable to load since 0.2.16 (thought it was 0.2.17 first, hence the title) changed from %2F to ~~ in valFromString function of $UrlMatcherFacotry.  This is what it looks like in what i assume is the browser predecoding a url and is then causing a syntax error to be thrown:    
```javascript
function valFromString(val) { return val != null ? val.toString().replace(/~2F/g, "/").replace(/~/Trunk/g, "~") : val; }
```
The 'Trunk' part is a part of my apps url.  The error is:
"Uncaught SyntaxError:  missing ) after argument list"

Do I need to change something in my code to get it to work with latest version?

Can you post a plunkr that demonstrates the issue?

try now.  Our apps are huge so may take me a bit to reproduce in plunkr


Not able to reproduce yet but I had gotten the wrong line of code above.  It is actually the one above it and appears to only happen when you have a subdomain in the path.  so when I run grunt serve and the url is just localhost:9000/myroute  it works but if I have localhost/Trunk/myroute it breaks.  As you can see the line here gets commented out during the replace causing that syntax error:

```javascript
function valToString(val) { return val != null ? val.toString().replace(//Trunk/g, "~~").replace(/\//g, "~2F") : val; }
```

I'm not following all the "Trunk" stuff. The actual code looks like this:

```
  // Use tildes to pre-encode slashes.
  // If the slashes are simply URLEncoded, the browser can choose to pre-decode them,
  // and bidirectional encoding/decoding fails.
  // Tilde was chosen because it's not a RFC 3986 section 2.2 Reserved Character
  function valToString(val) { return val != null ? val.toString().replace(/~/g, "~~").replace(/\//g, "~2F") : val; }
  function valFromString(val) { return val != null ? val.toString().replace(/~2F/g, "/").replace(/~~/g, "~") : val; }
```
What are the inputs to these functions that causes an error?

Trunk is part of my app path (http://localhost/Trunk/AppName...  When I click on the exception thrown by chrome it takes me to that line and shows me what I assume it was trying do the string replace on as the actual script was unaltered during my build.  So the input is '/Trunk' which somehow causes /~/ g to become //Trunk/g which of course becomes a comment and throws a syntax error.  It appears to be while the browser is loading the script file

@jasedwards that's not how javascript works, so I'm utterly baffled.  Post a screenshot

Here is screen shot from dev tools:
![image](https://cloud.githubusercontent.com/assets/5818023/12619272/ee304dc4-c4dc-11e5-85cc-a7d10c498855.png)

and screen shot of script file in dist folder:
![image](https://cloud.githubusercontent.com/assets/5818023/12619288/fcec2c48-c4dc-11e5-8134-5de38642be87.png)


yeah, I  just don't know what to say about this.  Vote for weirdest ticket of the year?

ha ha agreed.  I knew it sounded crazy when I was typing about the code becoming a comment and I definately have never seen anything like that

I have a suspicion that your server is mangling the source code.  

Try this: 
- Go to /Trunk page
- Open chrome dev tools
- Open network tab
- Reload page
- Find angular-ui-router.js and click it.
- Click the "response" tab
- Search for the string "valToString"

Show me what the browser downloaded from the server.  Does it have `Trunk` in it?

You were absolutely right.  strange.

```javascript
function valToString(val) { return val != null ? val.toString().replace(//Trunk/g, "~~").replace(/\//g, "~2F") : val; }
  function valFromString(val) { return val != null ? val.toString().replace(/~2F/g, "/").replace(/~/Trunk/g, "~") : val; }
```

Crazy sauce. What server is it?  Do you have any plugins/extensions/filters enabled that might have done this?

Yeah, tracked it down.  We have a large enterprise app as well that runs on the same server and they use an HttpScriptHandler that replaces ~/ with the path.